.navbar-nav{
background-color: black;
width: 96%;
margin-left: 28px;
border-radius: 25px;
}
.navbar-nav a{
    color: #fff;
    font-size: 20px;
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-nav a:hover{
   
    border-radius: 25px;
    background: linear-gradient( 
        180deg, #2630a8 0%, #0086f8 100%);
                    
}




