.loan{
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    margin-top: 50px;
}

.size{
    position: absolute;
    width: 500px;
    overflow: auto;
    text-align: center; 
    margin: 150px 0 0 475px;  
}

input {
    font-size: 20px; 
}
 
#male{
    
    color:#fff;
}
